@import 'keyboard.css';
@import 'controls.css';


h1 {
  text-align: center;
}

.keyboard {
  margin-top: 10%;
}
.controls {
  margin-top: 2%;
  text-align: center;
}


.key {
  border: outset 2px gray;
  border-radius: 4px;
  background: white;
}
.key.pressed {
  border-style: inset;
}
