h1 {
  text-align: center;
}

.keyboard {
  margin-top: 10%;
}

.row {
  text-align: center;
}
.row2 {
  padding-left: 20px;
}
.row3 {
  padding-left: 40px;
}

.key {
  display: inline-block;
  height: 60px;
  width: 60px;
  padding: 8px;
  margin: 8px;
  border: solid 2px gray;
  border-radius: 4px;
  text-align: left;
  overflow: hidden;
}

.key h3 {
  margin: 4px;
}
.key p {
  font-size: 10px;
}
