.keyboard {
  & .row {
    text-align: center;
  }
  & .row2 {
    padding-left: 40px;
  }
  & .row3 {
    padding-left: 40px;
  }

  & .key {
    display: inline-block;
    height: 60px;
    width: 60px;
    padding: 8px;
    margin: 8px;
    text-align: left;
    overflow: hidden;

    & h3 {
      margin: 4px;
    }
    & p {
      font-size: 10px;
    }
  }
}
